[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-oauthlib = "*"
requests-toolbelt = "*"

[dev-packages]
coverage = "*"
safety = "*"

[requires]
python_version = "3.6"
